@page
@model DiscordMonitoring.Web.Pages.AdminPanel.GamesControl.GamesListModel

@{
    ViewData["Title"] = "GamesList";
}

<h1>GamesList</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameEntity[0].GameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameEntity[0].ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameEntity[0].ServerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameEntity[0].GeneralOnline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GameEntity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServerCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneralOnline)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
